#picture{
  height:100vh;
  width:100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/IMG_2613.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}
#back{
  font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 100%;
  font-weight: 100;
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding:0;
}
h1{
  margin: 0% 0% 1% 0%;
  padding: 0;
}
#resultTitle{
  font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 200%;
  font-weight: 100;
}

#map{
  height:80%;
  margin: 0% 10% 0% 10%;
  width: 80%;
  padding: 0;
  border-radius: 10px;
  border-width: medium;
  border-color: white;
  border-style: groove;
}
#foot{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 100%;
  margin-top: 1%
}
